*.tmp
*.class
*.log
*.orig
.cache
.history
.project
.classpath
.settings
.lib/
.idea/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.DS_Store
.scala_dependencies
.worksheet
*~
backend.iml
/src/main/resources/swagger-ui/git-commit.json
